@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Web.Models.ViewModels.EducationOrganizations
@using EdFi.Ods.AdminApp.Web.Helpers
@model EdFi.Ods.AdminApp.Web.Models.ViewModels.LocalEducationAgencyViewModel

<div class="row margin-bottom">
    <div class="col-lg-6">
        <h6>Education Organizations</h6>
    </div>

    @if (!Model.LocalEducationAgencies.Items.Any() || Model.ShouldAllowMultipleDistricts)
    {
        <div class="col-lg-6 text-right">
            <button class="cta" data-toggle="modal" data-target="#add-lea-modal">
                Add Local Education Agency
            </button>
        </div>
    }
</div>

@foreach (var localEducationAgency in Model.LocalEducationAgencies.Items)
{
    <div class="panel-section lea-panel" data-leaid="@localEducationAgency.EducationOrganizationId">
        <div class="row heading">
            <div class="col-lg-6">
                <h8>@localEducationAgency.Name</h8>
            </div>
            <div class="col-lg-6 text-right">
                <a href="javascript:void(0)" class="loads-ajax-modal" data-url="@Url.Action("EditLocalEducationAgencyModal", "EducationOrganizations", new {id = localEducationAgency.Id})"> <span class="fa fa-pencil action-icons"></span></a>
                <a href="javascript:void(0)" class="delete-lea-link disabled" data-id="@localEducationAgency.Id" data-name="@localEducationAgency.Name"> <span class="fa fa-trash-o action-icons disabled" aria-disabled="true"></span></a>
                <span class="custom-divider"> |</span>
                <a href="javascript:void(0)" class="lea-toggle" data-leaid="@localEducationAgency.EducationOrganizationId"><span class="fa fa-chevron-down caret-custom panel-toggle"></span></a>
            </div>
        </div>
        <div id="lea-schools-@localEducationAgency.EducationOrganizationId" class="row content collapse lea-schools-panel"></div>
    </div>
}


@Html.PagingControl(Url.Action("LocalEducationAgencyList", "EducationOrganizations"), Model.LocalEducationAgencies)

@{ await Html.RenderPartialAsync("_DeleteOrganizationModal", new DeleteEducationOrganizationModel()); }
@{ await Html.RenderPartialAsync("_AddLocalEducationAgencyModal", Model.AddLocalEducationAgencyModel); }
@{ await Html.RenderPartialAsync("_AddSchoolModal", Model.AddSchoolModel); }

<script>
$(function() {
    function loadSchools(leaId, page) {
        var $panel = $("#lea-schools-" + leaId);
        $panel.html('<div class="col-lg-12 text-center"><span class="fa fa-spinner fa-spin"></span> Loading...</div>');
        $.get('@Url.Action("GetSchoolsByLea", "EducationOrganizations")', { leaId: leaId, pageNumber: page || 1 }, function(html) {
            $panel.html(html);
            // Enable delete-lea-link if no schools
            var hasSchools = $panel.find('.col-lg-8').length > 0;
            var $deleteLink = $panel.closest('.lea-panel').find('.delete-lea-link');
            if (!hasSchools) {
                $deleteLink.removeClass('disabled');
                $deleteLink.find('span').removeClass('disabled');
            } else {
                $deleteLink.addClass('disabled');
                $deleteLink.find('span').addClass('disabled');
            }
        });
    }
    // Use event delegation for dynamically loaded content
    $(document).on('click', '.lea-toggle', function() {
        var leaId = $(this).data('leaid');
        var $panel = $("#lea-schools-" + leaId);
        var $icon = $(this).find('.panel-toggle');
        // If this panel is already expanded, collapse it and reset expandedLea
        if ($icon.hasClass('fa-chevron-down')) {
            $panel.slideUp();
            return;
        }
        // Expand this one
        $panel.slideDown();
        loadSchools(leaId, 1);
    });
    // Pagination for schools
    $(document).on('click', '.school-page-link', function(e) {
        e.preventDefault();
        var leaId = $(this).data('leaid');
        var page = $(this).data('page');
        loadSchools(leaId, page);
    });
});

</script>

