@*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*@

@using EdFi.Ods.AdminApp.Management.ClaimSetEditor.Extensions
@using EdFi.Ods.AdminApp.Web.Helpers
@using EdFi.Ods.AdminApp.Web.Models.ViewModels.ClaimSets
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization
@model AuthStrategyEditorModel

<div id="auth-strategies-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="authStrategiesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="text-align: center;">Override Authorization Strategy</h4>
                <div class="row padding-15 text-center">
                    <div class="col-md-6">
                        <span class="default-strategy">(Default)</span><span class="margin-left-10">Not inherited from parent</span>
                        <br />
                        <span class="default-strategy inherited-strategy">(Default)</span><span class="margin-left-10">Inherited from parent</span>
                    </div>
                    <div class="col-md-6">
                        <span class="overridden-strategy">(Overridden)</span><span class="margin-left-10">Overridden</span>
                        <br />
                        <span class="overridden-strategy inherited-override">(Overridden)</span><span class="margin-left-10">Overridden by parent</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row padding-15">
                    <div id="auth-modal-spinner" class="text-center hidden">
                        <div><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                    </div>
                    @if (Model.ResourceClaim != null)
                    {
                        var authStrategyOverridesForCRUD = Model.ResourceClaim.AuthStrategyOverridesForCRUD;

                        var defaultAuthStrategiesForCRUDCreate = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Length > 0 ? Model.ResourceClaim.DefaultAuthStrategiesForCRUD?[0]?.AuthorizationStrategies?.ToArray() : null;
                        var defaultAuthStrategiesForCRUDRead = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Length > 1 ? Model.ResourceClaim.DefaultAuthStrategiesForCRUD?[1]?.AuthorizationStrategies?.ToArray() : null;
                        var defaultAuthStrategiesForCRUDUpdate = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Length > 2 ? Model.ResourceClaim.DefaultAuthStrategiesForCRUD?[2]?.AuthorizationStrategies?.ToArray() : null;
                        var defaultAuthStrategiesForCRUDDelete = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Length > 3 ? Model.ResourceClaim.DefaultAuthStrategiesForCRUD?[3]?.AuthorizationStrategies?.ToArray() : null;
                        var defaultAuthStrategiesForCRUDReadChanges = Model.ResourceClaim.DefaultAuthStrategiesForCRUD.Length > 4 ? Model.ResourceClaim.DefaultAuthStrategiesForCRUD?[4]?.AuthorizationStrategies?.ToArray() : null;


                        var authStrategiesOverridesForCreate = authStrategyOverridesForCRUD.Create() != null ? authStrategyOverridesForCRUD[0].AuthorizationStrategies : null;
                        var defaultAuthStrategiesForCreate = defaultAuthStrategiesForCRUDCreate != null ? defaultAuthStrategiesForCRUDCreate : null;

                        var authStrategiesOverridesForRead = authStrategyOverridesForCRUD.Read() != null ? authStrategyOverridesForCRUD[1].AuthorizationStrategies : null;
                        var defaultAuthStrategiesForRead = defaultAuthStrategiesForCRUDRead != null ? defaultAuthStrategiesForCRUDRead : null;

                        var authStrategiesOverridesForUpdate = authStrategyOverridesForCRUD.Update() != null ? authStrategyOverridesForCRUD[2].AuthorizationStrategies : null;
                        var defaultAuthStrategiesForUpdate = defaultAuthStrategiesForCRUDUpdate != null ? defaultAuthStrategiesForCRUDUpdate : null;

                        var authStrategiesOverridesForDelete = authStrategyOverridesForCRUD.Delete() != null ? authStrategyOverridesForCRUD[3].AuthorizationStrategies : null;
                        var defaultAuthStrategiesForDelete = defaultAuthStrategiesForCRUDDelete != null ? defaultAuthStrategiesForCRUDDelete : null;

                        var authStrategiesOverridesForReadChanges = authStrategyOverridesForCRUD.ReadChanges() != null ? authStrategyOverridesForCRUD[4].AuthorizationStrategies : null;
                        var defaultAuthStrategiesForReadChanges = defaultAuthStrategiesForCRUDReadChanges != null ? defaultAuthStrategiesForCRUDReadChanges : null;

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        Resource: <span id="resource-claim-name">@Model.ResourceClaim.Name</span>
                                    </div>
                                    <div class="pull-right">
                                        <a class="edit-resource-check" style="display:none"> <span class="fa fa-check action-icons"></span></a>
                                        <a class="override-auth"> <span class="fa fa-pencil action-icons"></span></a>
                                        &nbsp;
                                        <a class="reset-auth"> <span class="fa fa-undo action-icons"></span></a>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <table class="table" id="auth-table">
                                <thead>
                                    <tr>
                                        <th>Read</th>
                                        <th>Create</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                        <th>Read Changes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="resource-claim-auth" data-resource-id='@Model.ResourceClaim.Id' class="resource-label">
                                        <td class="read-action-cell" data-existing-action='@Model.ResourceClaim.Read'>
                                            @if (authStrategiesOverridesForRead != null)
                                            {
                                                @foreach (var authStrategyOverridesForRead in authStrategiesOverridesForRead)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@authStrategyOverridesForRead.IsInheritedFromParent">@authStrategyOverridesForRead.DisplayName</span>
                                                    if (authStrategyOverridesForRead.IsInheritedFromParent)
                                                    {
                                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="overridden-strategy">(Overridden)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                            else if (defaultAuthStrategiesForRead != null)
                                            {
                                                @foreach (var defaultAuthStrategyForRead in defaultAuthStrategiesForRead)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@defaultAuthStrategyForRead.IsInheritedFromParent">@defaultAuthStrategyForRead.DisplayName</span>
                                                    if (defaultAuthStrategyForRead.IsInheritedFromParent)
                                                    {
                                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="default-strategy">(Default)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                        </td>
                                        <td class="create-action-cell" data-existing-action='@Model.ResourceClaim.Create'>
                                            @if (authStrategiesOverridesForCreate != null)
                                            {
                                                @foreach (var authStrategyOverridesForCreate in authStrategiesOverridesForCreate)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@authStrategyOverridesForCreate.IsInheritedFromParent">@authStrategyOverridesForCreate.DisplayName</span>
                                                    if (authStrategyOverridesForCreate.IsInheritedFromParent)
                                                    {
                                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="overridden-strategy">(Overridden)</span>
                                                    }
                                                    <br />
                                                }

                                            }
                                            else if (defaultAuthStrategiesForCreate != null)
                                            {
                                                foreach (var defaultAuthStrategyForCreate in defaultAuthStrategiesForCreate)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@defaultAuthStrategyForCreate.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForCreate.DisplayName'>@defaultAuthStrategyForCreate.DisplayName</span>
                                                    if (defaultAuthStrategyForCreate.IsInheritedFromParent)
                                                    {
                                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="default-strategy">(Default)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                        </td>
                                        <td class="update-action-cell" data-existing-action='@Model.ResourceClaim.Update'>
                                            @if (authStrategiesOverridesForUpdate != null)
                                            {
                                                @foreach (var authStrategyOverridesForUpdate in authStrategiesOverridesForUpdate)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@authStrategyOverridesForUpdate.IsInheritedFromParent">@authStrategyOverridesForUpdate.DisplayName</span>
                                                    if (authStrategyOverridesForUpdate.IsInheritedFromParent)
                                                    {
                                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="overridden-strategy">(Overridden)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                            else if (defaultAuthStrategiesForUpdate != null)
                                            {
                                                foreach (var defaultAuthStrategyForUpdate in defaultAuthStrategiesForUpdate)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@defaultAuthStrategyForUpdate.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForUpdate.DisplayName'>@defaultAuthStrategyForUpdate.DisplayName</span>
                                                    if (defaultAuthStrategyForUpdate.IsInheritedFromParent)
                                                    {
                                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="default-strategy">(Default)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                        </td>
                                        <td class="delete-action-cell" data-existing-action='@Model.ResourceClaim.Delete'>
                                            @if (authStrategiesOverridesForDelete != null)
                                            {
                                                @foreach (var authStrategyOverridesForDelete in authStrategiesOverridesForDelete)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@authStrategyOverridesForDelete.IsInheritedFromParent">@authStrategyOverridesForDelete.DisplayName</span>
                                                    if (authStrategyOverridesForDelete.IsInheritedFromParent)
                                                    {
                                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="overridden-strategy">(Overridden)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                            else if (defaultAuthStrategiesForDelete != null)
                                            {
                                                foreach (var defaultAuthStrategyForDelete in defaultAuthStrategiesForDelete)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@defaultAuthStrategyForDelete.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForDelete.DisplayName'>@defaultAuthStrategyForDelete.DisplayName</span>
                                                    if (defaultAuthStrategyForDelete.IsInheritedFromParent)
                                                    {
                                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="default-strategy">(Default)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                        </td>
                                        <td class="readchanges-action-cell" data-existing-action='@Model.ResourceClaim.ReadChanges'>
                                            @if (authStrategiesOverridesForReadChanges != null)
                                            {
                                                @foreach (var authStrategyOverridesForReadChanges in authStrategiesOverridesForReadChanges)
                                                {
                                                    <span class="auth-strategy-name" data-is-inherited="@authStrategyOverridesForReadChanges.IsInheritedFromParent">@authStrategyOverridesForReadChanges.DisplayName</span>
                                                    if (authStrategyOverridesForReadChanges.IsInheritedFromParent)
                                                    {
                                                        <span class="overridden-strategy inherited-override">(Overridden)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="overridden-strategy">(Overridden)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                            else if (defaultAuthStrategiesForReadChanges != null)
                                            {
                                                foreach (var defaultAuthStrategyForReadChanges in defaultAuthStrategiesForReadChanges)
                                                {
                                                    <span data-is-inherited="@defaultAuthStrategyForReadChanges.IsInheritedFromParent" data-default-strategy='@defaultAuthStrategyForReadChanges.DisplayName'>@defaultAuthStrategyForReadChanges.DisplayName</span>
                                                    if (defaultAuthStrategyForReadChanges.IsInheritedFromParent)
                                                    {
                                                        <span class="default-strategy inherited-strategy">(Default)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="default-strategy">(Default)</span>
                                                    }
                                                    <br />
                                                }
                                            }
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    }
                </div>
            </div>
            <div class="modal-footer">
                @Html.CancelModalButton()
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var odsVersion = 6;
    var authStrategyOverrideUrl = '@Url.Action("OverrideAuthStrategiesOnResource", "ClaimSets")';
    var getUpdatedResourceUrl = '@Url.Action("GetUpdatedResourceClaim", "ClaimSets")';
    var resetAuthStrategyUrl = '@Url.Action("ResetAuthStrategiesOnResource", "ClaimSets")';
    var authStrategiesOptions = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(Model.AuthStrategies, new JsonSerializerSettings
        {
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
        })));
    
    var defaultAuthStrategies = @{
        if (Model.ResourceClaim != null && Model.ResourceClaim.DefaultAuthStrategiesForCRUD != null)
        {
            @(Html.Raw(JsonConvert.SerializeObject(Model.ResourceClaim.DefaultAuthStrategiesForCRUD, new JsonSerializerSettings
        {
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
        })))
        }
        else{ @(Html.Raw("[]")) }
        };

    var authStrategiesOverrides = @{
        if (Model.ResourceClaim != null && Model.ResourceClaim.AuthStrategyOverridesForCRUD != null)
        {
                @(Html.Raw(JsonConvert.SerializeObject(Model.ResourceClaim.AuthStrategyOverridesForCRUD, new JsonSerializerSettings
        {
            StringEscapeHandling = StringEscapeHandling.EscapeHtml
        })))
        }
        else
        {
                @(Html.Raw("[]"))
        }
    };
</script>
<script type="text/javascript" src="~/bundles/authstrategy.min.js" asp-append-version="true"></script>
